header {
    background-color: #005689;
    color: #fff;
}

ul {
    list-style: none;
}

.person-icon {
    fill: #ffffff;
    height: 18px;
    width:18px;
    display: block;
    margin: 8px;
}

.g-icon {
    fill: #ffffff;
}

.person-icon-wrapper {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(75,198,223,0.4);   
    height: 36px;
    border-radius: 18px;
    display: inline-block;
   /* width: 36px; */
    margin-top: 10px;
}

.vertical_align_14_36 {
    vertical-align: top;
    float: left;
    height: 36px;
    padding-top: 10px;
    margin-left: 0px;
    color: #fff;
}

.icon-link:hover .person-icon-wrapper {
    border-color: #fff;
}

.icon-link:hover .vertical_align_14_36 {
    text-decoration: underline;
}

.bar-item {
    display: inline-block;
    margin-left: 0px;
    margin-right: 5px;
}

.border-right {
    border-width: 0 1px 0 0 ;
    border-color: rgba(75,198,223,0.4);
    border-style: solid;
    padding-right: 10px;
}

#top-bar-left {
    padding-left: 0px;
    display: inline-block;
}

#topbar-container-right {
    padding: 0;
}

#guardian-top-menu {
    padding: 0;
}

.topbar-right-link {
    padding-right: 0px !important;
    color: #fff;
}

a.topbar-right-link:hover {
    color: #fff !important;
    background-color:  #005689 !important;
    text-decoration: underline !important; 
}

a.topbar-right-link:focus, a.topbar-right-link:active {
    color: #fff !important;
    background-color:  #005689 !important;
    text-decoration: none !important; 
}



.breadcrumbs {
    background-color: #dfdfdf;
}
.theguardian {
    float:right;
    margin-top: -40px;
}

#the {
    font-size: 70px;
    font-weight: bold;
    color: #aadce6;
}

#guardian {
    font-size: 70px;
    font-weight: bold;
}

#guardian-content-bar {
    background-color: #00507f;

}

.guardian-content {
    margin-left: 44px;
    margin-bottom: 0;
}

.content-bar {
    background-color: #00456e;
    color: #fff;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 16px;
}