/*
<!--
* Author: Mark Tyrer
* Assignment: FDWM Recreate a Technology Web Page
* Student ID: 
* Student ID: STU-00001347
* Date: 10th of July, 2017
-->
*/

* {
    font-family: 'Arvo', serif;
}

header {
    background-color: #005689;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

button {
    border-radius: 10px;
    border-style: solid;
}

.button-more {
    background-color: #005689;
    color: #fff;
} 

.button-more:hover {
    background-color: #00507f;
}

.no-padding {
    padding: 0 !important;
} 

.no-padding-left {
    padding-left: 0 !important;
}

.inline {
    display: inline-block;
}


aside {
    position: absolute;
    bottom: 0;
}
.column-comment aside {
    position: static;
}

.person-icon {
   fill : #ffffff;
    height: 18px;
    width:18px;
    display: block;
    margin: 8px;
}

.g-icon {
    fill: #ffffff;
}

.comment-icon {
    fill: rgba(0,0,0,0.4);
}

.person-icon-wrapper {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(75,198,223,0.4);   
    height: 36px;
    border-radius: 18px;
    display: inline-block;
   /* width: 36px; */
    margin-top: 10px;
}

.vertical_align_14_36 {
    vertical-align: top;
    float: left;
    height: 36px;
    padding-top: 10px;
    margin-left: 0px;
    color: #fff;
}

.icon-link:hover .person-icon-wrapper {
    border-color: #fff;
}

.icon-link:hover .vertical_align_14_36 {
    text-decoration: underline;
}

.bar-item {
    display: inline-block;
    margin-left: 0px;
    margin-right: 5px;
}

.border-right {
    border-right-width: 1px !important;
    border-left-width: inherit;
    border-top-width: inherit;
    border-bottom-width: inherit;
    border-color: rgba(75,198,223,0.4);
    border-style: solid;
    padding-right: 10px;
}

.border-left {
    border-left-width: 1px !important;
    border-right-width: inherit;
    border-top-width: inherit;
    border-bottom-width: inherit;
    border-color: rgba(75,198,223,0.4);
    border-style: solid;
    padding-right: 10px;
}

.border-top {
    border-top-width: 1px !important;
    border-right-width: inherit;
    border-left-width: inherit;
    border-bottom-width: inherit;
    border-color: rgba(75,198,223,0.4);
    border-style: solid;
    padding-right: 10px;
}

.section-title.border-top {
    border-color: #4bc6df;
}

.main-article-body {
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #4bc6df;

    margin-left: 10px;
    margin-right:10px;
    padding-left:20px;
    padding-right:20px;
}

.author-pink {
    color: #951c55;
    font-size: 18px;
    font-weight: bold;
}

.border-section-top {
    border-top-width: 1px !important;
    border-right-width: inherit;
    border-left-width: inherit;
    border-bottom-width: inherit;
    border-color: #4bc6df;;
    border-style: solid;
    padding-right: 10px;
    padding-top: 5px;
}

.border-top-pink {
    border-top-width: 1px !important;
    border-right-width: inherit;
    border-left-width: inherit;
    border-bottom-width: inherit;
    border-color: #951c55;
    border-style: solid;
    padding-right: 10px;
}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#top-bar-left {
    padding-left: 0px;
    display: inline-block;
}

#topbar-container-right {
    padding: 0;
}

#guardian-top-menu {
    float: right;
    padding: 0;
}

.topbar-right-link {
    padding-right: 0px !important;
    color: #fff;
}

a.topbar-right-link:hover {
    color: #fff !important;
    background-color:  #005689 !important;
    text-decoration: underline !important; 
}

a.topbar-right-link:focus, a.topbar-right-link:active {
    color: #fff !important;
    background-color:  #005689 !important;
    text-decoration: none !important; 
}


.breadcrumbs {
    background-color: #dfdfdf;
    padding-left: 10px;
    
}

.heading-block-pink {
    background-color: #951C55; 
    padding: 10px;                                             
    color: #fff;
}

.snippet-block-pink {
    background-color: #B82266;   
    color: #fff;
    padding: 10px;
}

.caption {
    background-color: #444444;
    color: #fff;
    min-height: 50px;
}

@media (max-width: 768px) {
    .breadcrumbs {
        min-height: 32px;
    }

    .row-eq-height {
        display: block;
    }
}

.breadcrumbs  a {
    color: #005689;
}

.breadcrumb-bar {
    margin-left: 20px;
}

.glyphicon-menu-right {
    color: rgb(118, 118, 118);
}


.theguardian {
    float: right;
    margin-top: -40px;
}

#the {
    font-size: 70px;
    font-weight: bold;
    color: #aadce6;
}

#guardian {
    font-size: 70px;
    font-weight: bold;
}

#guardian-content-bar {
    background-color: #00507f;
     padding: 0px;

}

.guardian-content {
    margin-left: 5px;
    margin-bottom: 0;
    min-height: 32px;
}

.guardian-content2 {

    margin-bottom: 0;
    min-height: 32px;
}


.content-bar {
    background-color: #00456e;
    color: #fff;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    font-size: 15px;
}

a.content-bar:hover {
    color: #fff !important;
    background-color:  #00456e !important;
    text-decoration: underline !important; 
}

.nav-float-right {
    float: right;
}

.nav-float-left {
    float: left;
}

#browse-all-sections {
    background-color: #333333;
}

a.content-bar-right:hover {
    background-color: #333333;
}


.content-bar-right {
    background-color: #333 !important;
    color: #fff;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 16px;
}

a.content-bar-right:hover {
    color: #fff !important;
    background-color:  #333 !important;
    text-decoration: underline !important; 
}

.topic-area {
    margin-top: 10px;
}

.topic-item {
    height: 100%;
    margin-bottom: 21px;
}

.pink {
    background-color: #951c55 ;
    color: #fff;
}

.pink:hover, .pink:focus {
    background-color: #84194b !important;
    text-decoration: none;
}

a.pink img{
  vertical-align: middle;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  padding-right: 0px;
}
a.pink:hover img{
  opacity:            0.8;
}

.grey-back {
    background-color: #7d7569;
    color: #fff;
    min-height: 85px;
}


.grey-back:hover, .prink:focus  {
    background-color: #6C655B;
    color: #fff;
    text-decoration: none;
}

a.grey-back img{
  vertical-align:     middle;
  transition:         opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  padding-right: 0px;
}
a.grey-back:hover img{
  opacity:            0.8;
}



.lighten {
    background-color: #eaeaea ;
    color: #515151;
}

a.lighten img{
  vertical-align:     middle;
  transition:         opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
a.lighten:hover img{
  opacity:            0.8;
}


.lighten {
    background-color: #fff ;
    color: #515151;
}


.lighten:hover, .lighten:focus {
    background-color: #eaeaea !important;
    text-decoration: none;
}

.section-title {
    margin-top: 10px;
}

.section-title > h2 {
    margin-top: 0px;
    font-weight: bold;
    color: rgb(0, 69, 110);
}

.left-edge {
    height: 100%;
}


    .storylink {
        position: absolute;
        bottom: 25px;
        left: 0;
    }

    .storylink ul {
        padding-left: 0;
    }
    .storylink a {
        border: 1px solid rgb(75, 198, 223);
        border-radius: 15px;
        padding: 5px;
        color: #00456e;
    }

    .storylink a:hover, .storylink a:focus  {
        border: 1px solid #515151;
        border-radius: 15px;
        padding: 5px;
        color: #000;
        text-decoration: none;
    }

   


 .side-sect {
        display: flex;
        flex-direction: column;

    }

.star-block {
    position: absolute;
    bottom: 0;

}
.star-item-gold {
    fill : #FFCE4B;
}

.star-item-grey {
    fill : #5B554D;
}

.bottom-star-padding {
    padding-bottom: 21px !important;
    margin-bottom: 0px !important;
}

.no-bottom-margin {
    margin-bottom: 0px !important;
}

.backtotop {
    margin-left: 10px;
   fill : #fff; 
   display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(75,198,223,0.4);   
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-top: 10px;
    padding-left: 3px;
}

.captioninfo {
    float:right;
    background-color: #333333;
    margin-left: 10px;
    margin-right:10px;
    fill : #fff; 
    border-width: 1px;
    border-style: solid;
    border-color: rgba(75,198,223,0.4);   
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-top: 10px;
    padding-left: 3px;
}

.media-bar {
    min-height: 40px;
}

.sm-icons {
    margin-left: 10px;
    margin-right:10px;
    border-width: 1px;
    border-style: solid;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    display: inline-block;
    margin-top: 10px;
    padding-left: 0px;

}

.facebook {
    background-color: #3b5998;
    fill : #fff; 
    border-color: rgba(59,89,255,0.4);   
}

.twitter {
    background-color: #4099ff;
    fill : #fff; 
    border-color: rgba(64, 153, 255, 0.4);
}

.twitter-pink {
    background-color: #fff;
    fill : #951c55; 
    
}

.mail-icon {
    background-color: #767676;
    fill : #fff; 
    border-color: rgba(118, 118, 118, 0.4);
}

.more-icon {
    background-color: #aaa;
    fill : #767676; 
    border-color: #aaa;
}

.share {
    fill:  rgb(118, 118, 118);  
}

.comment {
 
    fill: #84194b;
}



.info-icon {
    margin: 8px 8px 8px 8px;
}

.tothetop {
    color: #fff;
}

.mini-gap {
    margin-top: 10px;
}

/********************************************************************/
/*** PANEL DEFAULT
     sourced from https://bootsnipp.com/snippets/featured/panels-with-nav-tabs 
 ***/
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}


.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}





